* {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: blueviolet;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

nav {
  background-color: #ef7d19;
  border-radius: 10px;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

.div1 {
  display: flexbox;
  width: 300px;
  height: 200px;
  background-image: url("./img/bg_laranja.jpg");
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}

#card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main {
  padding: 20px;

  margin: 0 auto;

  height: 350px;

  width: 900px;
  border-radius: 20px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}
